@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gamja+Flower&display=swap');
@import url('static/styles/NavBar.css');
@import url('static/styles/Modal.css');
@import url('static/styles/Main.css');
@import url('static/styles//Dining.css');
@import url('static/styles/NaverMap.css');
@import url('static/styles/IntroInfo.css');
@import url('static/styles/SignUp.css');
@import url('static/styles/SignIn.css');
@import url('static/styles/Loading.css');

:root {
  --text-color: black;
  --font-size: 16px;
  --font-family: 'Black Han Sans', sans-serif;
  --border-color: #e5e5e5;
  --font-normal: 'Gamja Flower', cursive;
}

body {
  min-width: 330px;
}
