/* .dining-container::after {
  content: '';
  display: block;
  clear: both;
} */
.contents-container {
  max-width: 1200px;
  padding: 5px 30px;
  position: relative;
  margin: 0 auto;
}

.map-container {
  position: relative;
  /* height: 77vh; */
  padding: 10px;
  border: 2px solid var(--border-color);
  border-radius: 10px;
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 601px) {
  .map-container {
    /* display: flex;
    align-items: center;
    justify-content: flex-start; */
    height: 600px;
  }
}
@media screen and (max-width: 600px) {
  .filtering-place {
    width: 100%;
    height: 60px;
    margin-bottom: 5px;
  }
}
