.default-intro-container {
  padding-top: 10px;
  border-radius: 10px;
}

.default-intro-container .default-intro-box {
  margin: auto;
  /* padding-top: 10px; */
  border-radius: 10px;
}
.default-intro-container .place-intro-box {
  margin: auto;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  /* height: 800px; */
  border-radius: 10px;
  /* padding-top: 10px; */
}

.place-intro-description {
  /* box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2); */
  border-radius: 10px;
}
.place-video {
  display: flex;
  align-items: center;
  justify-content: center;
}
.place-video > iframe {
  padding: 20px;
  max-width: 600px;
  height: 400px;
}

.place-img {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.place-img > img {
  display: block;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}
.intro-description {
  margin: 0 auto;
  max-width: 400px;
  /* width: 50%; */
  /* background-color: red; */
  padding: 20px;
  font-family: var(--font-normal);
  font-weight: bold;
  font-size: 19px;

  position: relative;
}
.intro-description > div {
  display: flex;
}
.intro-description > div:nth-child(2) {
  margin-top: 10px;
}
.intro-description > div > span:nth-child(1) {
  display: block;
  width: 25%;
  font-family: var(--font-normal);
  height: 30px;
}
.intro-description > div > span:nth-child(2) {
  display: block;
  font-family: var(--font-normal);
}
.default-intro-container .place-intro-box .place-intro-title {
  padding: 5px;
  background-color: rgb(250, 191, 82);
  border-radius: 10px;
  margin: 0 auto;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.default-intro-container .place-intro-box .place-intro-title h1 {
  font-family: var(--font-family);
  font-size: 40px;
}
.default-intro-container .default-intro-box .default-intro-title {
  padding: 5px;

  background-color: rgb(250, 191, 82);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 0 auto;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.default-intro-container .default-intro-box .default-intro-title h1 {
  font-family: var(--font-family);
  font-size: 40px;
}

@media screen and (max-width: 600px) {
  .place-img > img {
    min-width: 300px;
  }

  .place-video > iframe {
    height: 300px;
  }
}
