/* NavBar */
.section {
  position: relative;
  border-bottom: 1px solid black;
  /* background-color: ; */
}

.section .inner {
  /* max-width: 1200px; */
  /* min-width: 300px; */
  padding: 10px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
  height: 68px;
  font-family: var(--font-family);
}

.section .menu-group {
  font-size: var(--font-size);
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
}
.section .menu-group .title {
  margin-right: 10px;
}
.section .menu-group .title p {
  display: block;
  /* font-family: "Black Han Sans", sans-serif; */
}

.section .menu-group .main-menu {
  display: flex;
  list-style-type: none;
}

.section .menu-group .main-menu .menu-item {
  text-align: center;

  padding: 10px;
}
.section .menu-group .main-menu .menu-item > .active {
  color: #61dafb;
}
.section .menu-group .main-menu .link {
  text-decoration: none;
  color: black;
  text-align: center;
}
.section .menu-group .main-menu .link:hover {
  color: #61dafb;
}

.side-menu {
  margin-left: auto;
  display: none;
}

.side-menu > li {
  padding: 10px;
  text-align: center;
  /* border: 1px solid var(--border-color); */
  /* border-radius: 50px;
  box-sizing: border-box; */
}

.side-menu li > a {
  text-decoration: none;
  color: black;
  /* text-align: center; */
}

.SignOut-btn {
  cursor: pointer;
  padding: 0;
  margin: 0;
  border: none;
  background-color: inherit;
  font-size: inherit;
  font-family: inherit;
}

.sm-device > button {
  background-color: #fff;
  border: none;
  font-size: 16px;
  position: relative;
  bottom: 1px;
}
.sm-device {
  display: none;
}
@media screen and (min-width: 601px) {
  .side-menu {
    display: flex;
  }
  .side-menu > li:nth-child(1) {
    margin-right: 5px;
  }

  .SignUp-btn::before {
    content: '/';
    position: relative;
    right: 10px;
  }
}
@media screen and (max-width: 600px) {
  .section .menu-group {
    font-size: 15px;
  }
  .sm-device {
    display: block;
    margin-left: auto;
  }

  .sm-device > a {
    color: black;
  }

  .sm-device > a:nth-child(1) {
    margin-right: 20px;
  }
}
