#map {
  border: 1px solid var(--border-color);
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  margin-right: 10px;

  height: 100%;
}
/* 마커 */
.cs_mapbridge {
  width: 120px;
  height: 36px;
  background-color: #0475f4;
  /* border: 1px solid black; */
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  border-radius: 23px;
  box-sizing: border-box;
  padding: 5px;
  position: relative;
  z-index: 10;
}
.cs_mapbridge::before {
  content: '';
  position: absolute;
  border-top: 10px solid #0475f4;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  top: 32px;
  left: 25px;
  z-index: -1;
}
.cs_mapbridge:hover {
  z-index: 100;
}

.cs_mapbridge i {
  background-color: white;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: absolute;
}
.map_marker {
}
.shd {
  display: block;
  color: white;
  font-family: var(--font-family);
  position: absolute;
  left: 35px;
  top: 10px;
  font-size: 14px;
}
.filtering-place {
  min-width: 100px;
  border: 1px solid var(--border-color);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  box-sizing: border-box;
  background-color: #fff;
  width: 100%;
  /* height: 60px; */
  margin-bottom: 5px;
  padding: 5px;
  /* display: flex; */
  /* align-items: center; */
}
.filtering-form {
  display: flex;
  align-items: center;
  width: 100%;
  height: 35px;
  position: relative;
}
.filtering-input {
  width: 100%;
  height: 100%;
}

.filtering-form > .filtering-input > input[type='text'] {
  /* display: block; */
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  height: 100%;

  font-family: var(--font-normal);
  font-size: 16px;
  border: 1.5px solid black;
}
.filtering-form > .filtering-select {
  display: flex;
  align-items: center;
  width: 40%;
  height: 100%;

  /* justify-content: flex-end; */
}

.filtering-select > select {
  box-sizing: border-box;
  font-family: var(--font-normal);
  border-radius: 5px;
  width: 50%;
  height: 35px;
  border: 1.5px solid black;
  margin-left: 5px;
  font-size: 16px;
}
.filtering-submit {
  width: 100px;
  margin-left: 3px;
  border-radius: 5px;
  height: 35px;
  border: 1px solid black;
}

@media screen and (max-width: 600px) {
  #map {
    height: 70vh;
    /* height: 540px; */
  }
  .filtering-place {
    height: auto;
  }
  .filtering-form {
    display: inline;
  }
  .filtering-input {
    height: 35px;
  }
  .filtering-form > .filtering-input .input[type='text'] {
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    height: 35px;
  }
  .filtering-form > .filtering-select {
    float: left;
    width: 78%;
    margin-top: 5px;
  }
  .filtering-select > select {
    width: 50%;
    margin-left: 0px;
  }
  .filtering-select > select:nth-child(1) {
    margin-right: 3px;
  }
  .filtering-submit {
    border-radius: 1px solid black;
    float: right;
    width: 20%;
    margin-top: 5px;
  }
}
@media screen and (max-width: 380px) {
  .fa-solid > span {
    display: none;
  }
}
