.share-container {
  position: relative;
  padding: 10px;
  margin: 0 auto;
  max-width: 1100px;
}

.post-container {
  position: relative;
  border: 2px solid var(--border-color);
  border-radius: 10px;
  background-color: lightgrey;
}

.posts {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 10px;
  box-sizing: border-box;
  row-gap: 10px;
  column-gap: 10px;
}

.posts .posts-item {
  height: 200px;
  max-width: 200px;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.posts .posts-item:hover {
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.2);
  transform: translate(-2px, -2px);
}

.posts .posts-item:active {
  transform: translate(2px, 2px);
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.2);
}
.posts-item > div {
  /* white-space: normal; */

  /* display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical; */

  padding: 4px;
  box-sizing: border-box;
  font-family: var(--font-normal);
}

.posts-item > div > .post > .sub-title {
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: bold;
  /* white-space: nowrap; */
}

.posts-item > div > .post {
  overflow: hidden;
  margin-top: 20px;

  line-height: 1;
  height: 7em;
  text-align: left;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.thumb-updown {
  margin-top: 8px;
  text-align: right;
  padding: 4px;
}
@media screen and (max-width: 1000px) {
  .posts {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 750px) {
  .posts {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 600px) {
  .posts {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* @media screen and (max-width: 500px) {
  .posts {
    grid-template-columns: repeat(1, 1fr);
  }
} */
