.dining-container {
  position: relative;
  /* height: 100%; */
  padding: 10px;
  margin: 0 auto;
}

.dining-container::after {
  content: "";
  display: block;
  clear: both;
}
.contents-container {
  max-width: 1200px;
  padding: 5px 30px;
  position: relative;

  margin: 0 auto;
}

.map-container {
  position: relative;
  /* height: 77vh; */
}
.filtering-place {
  min-width: 100px;
  border: 1px solid var(--border-color);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  height: 100%;
  box-sizing: border-box;
  margin-right: 5px;
}
@media screen and (min-width: 601px) {
  .map-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 600px;
  }
}
@media screen and (max-width: 600px) {
  .map-container {
    /* height: 460px; */
  }
  .big-device {
    display: none;
  }
  .filtering-place {
    width: 100%;
    height: 60px;
    margin-bottom: 5px;
  }
}
