.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 103vh;
  min-width: 330px;
  /* display: none; */
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 101;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-body {
  /* z-index: 101; */
  width: 400px;
  height: 180px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.4);
}

.modal-header {
  background-color: var(--border-color);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 1px solid lightgrey;
  height: 30px;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.modal-close {
  background-color: transparent;
  border-radius: 10px;
  margin-right: 2px;
  font-size: 16px;
  font-family: var(--font-normal);
}

.modal-contents {
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-normal);
  font-size: 20px;
  font-weight: bold;
}
.modal-footer {
  text-align: center;
}
.modal-footer > button {
  border-radius: 10px;
  font-family: var(--font-normal);
  font-size: 16px;
}
.modal-footer > button:nth-child(1) {
  margin-right: 10px;
}

.post-modal {
  width: 500px;
  min-height: 600px;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
}
.post-modal > section {
  font-family: var(--font-normal);
}
.post-modal > section > p {
  font-size: 20px;
}

.post-modal > section > h1 {
  font-weight: bold;
  font-size: 30px;
}
.post-modal > footer {
  right: 0;
  bottom: 0;
  position: absolute;
  padding: 30px;
}
.post-header {
  height: 40px;
  justify-content: unset;
  font-family: var(--font-normal);
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
}

.post-header > span {
  margin-left: auto;
}
@media screen and (max-width: 800px) {
  .modal_body {
    width: 350px;
  }
}

@media screen and (max-width: 600px) {
  .modal_body {
    width: 300px;
  }
}
