@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");

:root {
  --text-color: black;
  --font-size: 16px;
  --font-family: "Black Han Sans", sans-serif;
  --border-color: #e5e5e5;
}

/* 컴포넌트 스타일림 */

/* NavBar */
.section {
  position: relative;
  border-bottom: 1px solid var(--border-color);
  /* background-color: ; */
}

.section .inner {
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
  height: 68px;
  font-family: var(--font-family);
}

.section .menu-group {
  font-size: var(--font-size);
  display: flex;
  align-items: center;
  height: 100%;
}
.section .menu-group .title p {
  display: block;
  line-height: 0%;
  /* font-family: "Black Han Sans", sans-serif; */
}

.section .menu-group .main-menu {
  display: flex;
  list-style-type: none;
}

.section .menu-group .main-menu .menu-item {
  text-align: center;

  padding: 10px;
}

.section .menu-group .main-menu .link {
  text-decoration: none;
  color: black;
  text-align: center;
}
.section .menu-group .main-menu .link:hover {
  color: #61dafb;
}

/* 메인 페이지 */

.Jumbo {
  position: relative;
  height: 500px;
  background-image: url("../public/jumbo-picture4.jpeg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* background-attachment: fixed; */
}

.Jumbo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* background: rgba(0, 0, 0, 0.2); */
}

.Youtuber {
  position: relative;
}

.Youtuber .tiles {
  /* max-width: 1200px; */
  margin-top: 30px;
}

.Youtuber .tiles .tiles-title {
  display: flex;
  /* text-align: center; */
  align-items: center;
  justify-content: center;
  font-family: var(--font-family);
  font-size: 40px;
}
.Youtuber .tiles ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* max-width: 800px; */
  /* position: relative; */
  height: 500px;
  list-style: none;
  padding: 0 0;
  margin-top: 0;
}
.Youtuber .tiles ul li {
  /* width: 33%; */
  text-align: center;
  background-color: white;
  border-right: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  border-radius: 10%;
  box-sizing: border-box;
  position: relative;
}

.Youtuber .tiles ul li:hover {
  background: rgba(0, 0, 0, 0.1);
  /* background-color: red; */
}
.Youtuber .tiles ul li:nth-child(3) {
  /* width: 33%; */
  /* background-color: lightgray; */
  border-right: none;
  /* box-sizing: border-box; */
}

/* 컨텐츠 페이지 */

.dining-container {
  background-color: black;
  position: relative;
  height: auto;
  /* width: 90%; */
  margin: 0 auto;
  border: 2px solid black;
  /* overflow: hidden; */
}
.contents-container {
  max-width: 1200px;
  padding: 5px 30px;
  position: relative;
  /* height: 800px; */
  margin: 0 auto;
}

.contents-container .map-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.NaverMap {
  border: 3px double #0c68e0;
  border-radius: 1%;
}

/* 기본 소개 페이지 */

.default-intro-container {
  max-width: 1200px;
  height: 800px;
  background-color: green;
  position: relative;
}

.default-intro-container .default-intro-title {
  padding: 5px;
  width: 85%;
  background-color: wheat;
  margin: 0 auto;
  height: 100px;
}

.default-intro-container .default-intro-title h1 {
  text-align: center;
}
