@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");

:root {
  --text-color: black;
  --font-size: 16px;
  --font-family: "Roboto", sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* 컴포넌트 스타일림 */

.section {
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.75);
  /* background-color: ; */
}

.section .inner {
  /* max-width: 980px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative; */
  height: 68px;
  font-family: "Black Han Sans", sans-serif;
}

.section .menu-group {
  font-size: var(--font-size);
  display: flex;
  align-items: center;
  height: 100%;
}
.section .menu-group .title p {
  display: block;
  line-height: 0%;
  /* font-family: "Black Han Sans", sans-serif; */
}

.section .menu-group .main-menu {
  display: flex;
  list-style-type: none;
}

.section .menu-group .main-menu .menu-item {
  text-align: center;
  padding: 10px;
}

.section .menu-group .main-menu .link {
  text-decoration: none;
  color: black;
  text-align: center;
}
.section .menu-group .main-menu .link:hover {
  color: #61dafb;
}
