@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gamja+Flower&display=swap");
@import url("./css/NavBar.css");
@import url("./css/Main.css");
@import url("./css/Dining.css");
@import url("./css/NaverMap.css");
@import url("./css/IntroInfo.css");
@import url("./css/SignUp.css");
@import url("./css/SignIn.css");
:root {
  --text-color: black;
  --font-size: 16px;
  --font-family: "Black Han Sans", sans-serif;
  --border-color: #e5e5e5;
  --font-normal: "Gamja Flower", cursive;
}

body {
  min-width: 330px;
}
