@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gamja+Flower&display=swap");
@import url("./css/NavBar.css");
@import url("./css/Main.css");
@import url("./css/Dining.css");
@import url("./css/NaverMap.css");
@import url("./css/IntroInfo.css");
@import url("./css/SignUp.css");
@import url("./css/SignIn.css");
@import url("./css/Loading.css");
@import url("./css/Modal.css");
:root {
  --text-color: black;
  --font-size: 16px;
  --font-family: "Black Han Sans", sans-serif;
  --border-color: #e5e5e5;
  --font-normal: "Gamja Flower", cursive;
}

body {
  min-width: 330px;
}

.menu-title-container {
  height: 50px;
  display: flex;
  align-items: center;
}

.menu-title-container > p {
  font-family: var(--font-normal);
  font-weight: bold;
  font-size: 30px;
}
