@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gamja+Flower&display=swap");
:root {
  --text-color: black;
  --font-size: 16px;
  --font-family: "Black Han Sans", sans-serif;
  --border-color: #e5e5e5;
  --font-normal: "Gamja Flower", cursive;
}

/* 컴포넌트 스타일림 */

/* NavBar */
.section {
  position: relative;
  border-bottom: 1px solid black;
  /* background-color: ; */
}

.section .inner {
  /* max-width: 1200px; */
  padding: 10px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
  height: 68px;
  font-family: var(--font-family);
}

.section .menu-group {
  font-size: var(--font-size);
  display: flex;
  align-items: center;
  height: 100%;
}
.section .menu-group .title {
  margin-right: 10px;
  margin-left: 20px;
}
.section .menu-group .title p {
  display: block;
  /* font-family: "Black Han Sans", sans-serif; */
}

.section .menu-group .main-menu {
  display: flex;
  list-style-type: none;
}

.section .menu-group .main-menu .menu-item {
  text-align: center;

  padding: 10px;
}

.section .menu-group .main-menu .link {
  text-decoration: none;
  color: black;
  text-align: center;
}
.section .menu-group .main-menu .link:hover {
  color: #61dafb;
}

/* 메인 페이지 */

.Jumbo {
  position: relative;
  height: 500px;
  background-image: url("../public/jumbo-picture4.jpeg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* background-attachment: fixed; */
}

.Jumbo .Jumbo-description {
  color: white;
  position: absolute;
  width: 170px;
  padding: 30px;
  font-family: var(--font-family);
}

.Jumbo .Jumbo-description h1 {
  opacity: 0;
  font-size: 40px;
  margin-bottom: 20px;
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
  animation-fill-mode: forwards;
}

.Jumbo .Jumbo-description p {
  opacity: 0;
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
  /* font-size: 10px; */
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  /* display: none; */
}
@keyframes fadein {
  from {
    opacity: 0;
    transform: translate(-10px);
    /* display: none; */
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.Jumbo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
}

.Youtuber {
  position: relative;
}

.Youtuber .tiles {
  /* max-width: 1200px; */
  margin-top: 30px;
}

.Youtuber .tiles .tiles-title {
  display: flex;
  /* text-align: center; */
  align-items: center;
  justify-content: center;
  font-family: var(--font-family);
  font-size: 40px;
}
.Youtuber .tiles ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 500px;
  list-style: none;
  padding: 0 0;
  margin-top: 0;
}
.tiles-card {
  text-decoration: none;
  color: black;
}

.Youtuber .tiles ul li {
  font-family: var(--font-normal);
  text-align: center;
  background-color: white;
  border: 1px solid var(--border-color);
  border-radius: 10%;
  box-sizing: border-box;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  position: relative;
  margin: 5px;
  cursor: pointer;
  font-size: 30px;
  font-weight: bold;
  height: 500px;
}

.Youtuber .tiles ul li img {
  border-radius: 50%;
  padding: 30px;
  width: 40%;
}

.Youtuber .tiles ul li:hover {
  background: rgba(0, 0, 0, 0.1);
  /* background-color: red; */
}
.Youtuber .tiles ul li:nth-child(3) {
  /* width: 33%; */
  /* background-color: lightgray; */
  border-right: none;
  /* box-sizing: border-box; */
}

.tiles-profile-title {
  font-size: 60px;
}

.tiles-profile-intro {
  margin-top: 3px;
  padding: 20px;
  font-size: 20px;
}
/* 컨텐츠 페이지 */

.dining-container {
  position: relative;
  height: auto;
  padding: 10px;
  margin: 0 auto;
  /* border: 2px soli; */
  /* overflow: hidden; */
}

.dining-container::after {
  content: "";
  display: block;
  clear: both;
}
.contents-container {
  max-width: 1200px;
  padding: 5px 30px;
  position: relative;
  /* height: 800px; */
  margin: 0 auto;
}

.contents-container .map-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .NaverMap {
  border: 3px double #0c68e0;
  border-radius: 1%;
} */

/* 기본 소개 페이지 */

.default-intro-container {
  margin-top: 10px;
  /* max-width: 1200px; */
  height: 800px;
  /* border: 1px solid var(--border-color); */
  /* box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2); */
  /* position: absolute; */
}

.default-intro-container .default-intro-box {
  /* width: 100%; */
  margin: auto;
  /* box-sizing: border-box; */
  padding: 10px;
}

.default-intro-container .default-intro-box .default-intro-title {
  padding: 5px;
  /* width: 100%; */
  background-color: rgb(250, 191, 82);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 0 auto;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.default-intro-container .default-intro-box .default-intro-title h1 {
  font-family: var(--font-family);
  font-size: 40px;
}

#map {
  border: 1px solid var(--border-color);
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  /* float: right; */
  box-sizing: border-box;
  margin-top: 15px;
}

#filtering-place {
  /* float: left; */
  width: 100%;
  border: 1px solid var(--border-color);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  height: 8vh;
  box-sizing: border-box;
  margin-right: 5px;
}

/* 마커 */
.cs_mapbridge {
  width: 120px;
  height: 36px;
  background-color: #0475f4;
  border: 1px solid black;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  border-radius: 23px;
  box-sizing: border-box;
  padding: 5px;
  position: absolute;
}

.cs_mapbridge:hover {
  z-index: 100;
}

.cs_mapbridge i {
  background-color: white;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: absolute;
  /* top: px; */
}
.map_marker {
}
.shd {
  display: block;
  color: white;
  font-family: var(--font-family);
  position: absolute;
  left: 35px;
  top: 10px;
  font-size: 16px;
}
